In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv', encoding = 'Latin-1')

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
981,ham,Reckon need to be in town by eightish to walk ...,NaN,NaN,NaN
370,ham,Hello my boytoy ... Geeee I miss you already a...,NaN,NaN,NaN
3145,ham,\SHIT BABE.. THASA BIT MESSED UP.YEH,SHE SHUDVETOLD U. DID URGRAN KNOW?NEWAY,"ILLSPEAK 2 U2MORO WEN IM NOT ASLEEP...\""""",NaN
3954,ham,I knew it... U slept v late yest? Wake up so l...,NaN,NaN,NaN
960,ham,U sure u can't take any sick time?,NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

In [5]:
#1. data cleaning
#2. EDA
#3. text preprocessing
#4. model building
#5. evaluation
#6. improvement
#7. website
#8. website

In [6]:
#1. Data Cleaning

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [10]:
#drop last 3 cols
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [11]:
df.sample(5)

        v1                                                 v2
3245   ham  Funny fact Nobody teaches volcanoes 2 erupt, t...
1705   ham  Yun ah.now Ì_ wkg where?btw if Ì_ go nus sc. Ì...
4824   ham         I am going to sleep. I am tired of travel.
603    ham             Be happy there. I will come after noon
823   spam  25p 4 alfie Moon's Children in need song on ur...

In [12]:
#renaming the cols
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

     target                                               text
860     ham                In work now. Going have in few min.
1270    ham  Sorry chikku, my cell got some problem thts y ...
3290    ham  I'm not smoking while people use \wylie smokes...
5340    ham                  Are u awake? Is there snow there?
5461    ham  Ok i thk i got it. Then u wan me 2 come now or...

In [13]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [14]:
df['target']= encoder.fit_transform(df['target'])

In [15]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [16]:
#missing values
df.isnull().sum()

target    0
text      0
dtype: int64

In [17]:
df.duplicated().sum()

403

In [20]:
df=df.drop_duplicates(keep='first')

In [22]:
df.duplicated().sum()

0

In [23]:
df.shape

(5169, 2)

In [24]:
#2. eda

In [25]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [6]:
df['target'].value_counts()

NameError: name 'df' is not defined

In [5]:
import matplotlib.pyplot as plt
plt.pie(df['target'].value_counts(),labels=['ham','spam'],autopct="%0.2f")
plt.show()

NameError: name 'df' is not defined